body{
    padding:0;
    margin:0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.angka{
    font-size: 70px;
}

.fixed-bottom{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    background-color: red;
}

.button{
    padding:20px;
    color:white;
    font-size: 30px;
}